@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <form class="col-10 col-md-4" method="POST" asp-controller="Auth" asp-action="Login">
        <h1>Login</h1>
        <input class="form-control" type="text" name="userName" placeholder="UserName">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <button class="btn btn-success btn-block mt-2">Sign In</button>
    </form>
</div>