@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="POST" asp-controller="Auth" asp-action="Login">
    <input class="form-control" type="text" name="userName" id="" placeholder="UserName">
    <input class="form-control" type="password" name="password" id="" placeholder="Password">
    <br>
    <button class="btn btn-success">Sign In</button>
</form>