@{ 
    Layout= "~/Views/Shared/_Layout.cshtml"; 
} 

@section Title {
    <a class="navbar-brand" href="#">View Cart</a>
}

@section NavLink1 {
    <a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Continue Shopping</a>
}

@section NavLink2 {
    <a class="nav-link text-dark">Checkout</a>
}